{{#each posts as |post|}}

<div class='row'>
    <div class='col-md-8 p-4 bg-dark mb-4 rounded'>
        <h2>
            <a class='text-white' href='/posts/{{post.id}}'>{{post.name}}</a>
        </h2>

        <p class='text-muted'>published by {{post.user.name}} on {{format_date post.date_created}}</p>
        <p id='home-blog-txt'>
            {{post.description}}
        </p>
    </div>
</div>

{{/each}}