<div class='row post-container'>
    <div class='col-md-8 mx-auto p-4 mb-4'>
        <h2 class='title-text'>
            {{name}}

            {{#if logged_in}}
            <a href='/posts/edit/{{id}}'> <button class='btn btn-sm login-btn float-right' id='edit-btn' data-id='{{id}}'>Edit Post</button> </a>
            {{/if}}
        </h2>

        <p class='author-text'>published by {{user.name}} on {{format_date date_created}}</p>
        <p class='post-text'>{{description}}</p>
    </div>

    <section>
        {{#each comment}}
        <div class='row p-3'>
            <p>text</p>
        </div>
        {{/each}}
    </section>

    {{#if logged_in}}
    <div class='col-md-3 mx-2 text-white p-3'>
        <h3 class='title-text'>Share your thoughts, add a comment: </h3>

        <form class='form new-comment-form'>
            <div class='form-group'>
                <label class='input-title' for='comment-body'>Comment: </label>
                <br>
                <textarea class='form-input' id='comment-body' name='comment-body' placeholder='Enter your comment here...'></textarea>
            </div>
            <div class='form-group'>
                <button type='submit' class='btn login-btn'>Add Comment</button>
            </div>
        </form>
    </div>
    {{/if}} 
</div>

{{> comment comments}}

<script src='/js/comment.js'></script>